@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    /* Outras propriedades opcionais */
    font-weight: bold;
    font-style: normal;
}
/*TODO update the ../../wwwroot for ~ after development the views*/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    /* Outras propriedades opcionais */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.ttf');
    /* Outras propriedades opcionais */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Bold.ttf');
    /* Outras propriedades opcionais */
    font-weight: bold;
    font-style: normal;
}

:root {

    /* Colors */
    --white: #F7F8FA;
    --black: #000000;
    --blue-secundary-dark: #071E55;
    --blue-primary-dark: #143074;
    --blue: #2046A1;
    --blue-primary-light: #3963C8;
    --blue-secundary-light: #3868D9;
    --grey-secundary-dark: #4A707A;
    --grey-primary-dark: #7697A0;
    --grey: #94B0B7;
    --grey-primary-light: #C2C8C5;
    --grey-secundary-light: #F7F7F7;
    --bold-poppins: 'Poppins Bold', sans-serif;
    --not-bold-poppins: 'Poppins', sans-serif;
    --body-lora: 'Lora', sans-serif;

    /* Font Types */
    
}

/* Font Styles */

.poppins-bold-xl {
    font-family: var(--bold-poppins);
    font-size: 35px;
}

.poppins-bold-l {
    font-family: var(--bold-poppins);
    font-size: 30px;
}

.poppins-bold-m {
    font-family: var(--bold-poppins);
    font-size: 25px;
}

.poppins-bold-s {
    font-family: var(--bold-poppins);
    font-size: 20px;
}

.poppins-bold-xs {
    font-family: var(--bold-poppins);
    font-size: 15px;
}

.poppins-bold-xxs {
    font-family: var(--bold-poppins);
    font-size: 10px;
}

.not-bold-poppins-xg {
    font-family: var(--not-bold-poppins);
    font-size: 35px;
}

.not-bold-poppins-g {
    font-family: var(--not-bold-poppins);
    font-size: 30px;
}

.not-bold-poppins-m {
    font-family: var(--not-bold-poppins);
    font-size: 25px;
}

.not-bold-poppins-s {
    font-family: var(--not-bold-poppins);
    font-size: 20px;
}

.not-bold-poppins-xs {
    font-family: var(--not-bold-poppins);
    font-size: 15px;
}

.not-bold-poppins-xxs {
    font-family: var(--not-bold-poppins);
    font-size: 13px;
}

.body-xg {
    font-family: var(--body-lora);
    font-size: 26px;
}

.body-g {
    font-family: var(--body-lora);
    font-size: 22px;
}

.body-m {
    font-family: var(--body-lora);
    font-size: 20px;
}

.body-s {
    font-family: var(--body-lora);
    font-size: 16px;
}

.body-xs {
    font-family: var(--body-lora);
    font-size: 10px;
}