.auth-title {
    color: #000;
    text-align: center;
    margin-top: 2rem;
}

.auth-logo {
    text-align: center;
}

#auth-right img {
    max-width: 75vh;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}